.news {
    height: 792px;
    width: 1230px;
    margin: 120px auto;
    text-align: center;
    justify-content: space-between;
}

.news__article {
    display: grid;

    grid-template-rows: 255px 255px;

    grid-template-columns: repeat(12, 1fr);
}

.news__article-large {
    grid-column: 7 span;
    grid-row: 2 span;
    margin-right: 30px;
}

.news__article-smal {
    grid-column: 5 span;
}

.news__article-smal p {
    font-weight: 700;
}

.news__article-large-p1 {
    margin-top: 24px;
    font-weight: 700;
}

.news__article-large-p2 {
    font-weight: 400;
}

.news__article--meta {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.news__article--meta p {
    color: #787A80;
    font-weight: 400;
}

@media (max-width:962px) {
    .news {
        display: block;
    }
}

@media (max-width:962px) {
    .news {
        font-weight: 400;
    }
}
.recent-news__item{
position: relative;
color: #787A80;
}
.recent-news__item:not(:last-child) {
    margin-right: 21px;
}
.recent-news__item:not(:last-child)::after {
    content: "";
    height: 11px;
    width: 1px;
    background-color: currentColor;
    display: inline-block;
    position: absolute;
    top: 4px;
    right: -12px;
}
.recent-news__commens {
    padding-left: 24px;
    background-image: url(../img/svg/newsChat.svg);
    background-repeat: no-repeat;
}