.requestform {
    text-align: center;
    width: 1230px;
    height: 243px;
    margin: 120px auto;
}

.requestform__form {
    justify-content: space-between;
    display: flex;
}

.requestform__form div {
    width: 260px;
    height: 73px;
    margin-top: 32px;
    margin-right: 24px;
}

.requestform__form input {
    height: 44px;
    width: 260px;
    left: 0px;
    top: 29px;
    border-radius: 4px;
    margin-top:8px ;
    border: 1px solid #d7dadd;
}

.requestform__form button {
    margin-top: 61px;
    width: 104px;
    height: 44px;
    border-radius: 4px;
    background-color: #FF5A30;
}