.video{
    text-align: center;
    margin: 120px auto;
    max-width: 1230px;
}
.video__text-h2{
    margin-top: 24px;
    color: #787A80;
}
.video__img {
    margin-top: 60px;
    background: black;
  
}
.video__img img {
    max-width: 100%;
    opacity: 60%;
    display: block;
}