<div class="news">
    <h1>Recent news</h1>
    <div class="news__article">
        <div class="news__article-large">
            <img src="img/large.jpg" alt="">
            <p class="news__article-large-p1">How to Build Climate Change-Resilient Infrastructure</p>
            <div class="recent-news__meta">
                <a href="#" class="recent-news__item">Industry News</a>
                <time class="recent-news__item" datetime="June 24, 2020">June 24, 2020</time>  
                <span class="recent-news__item recent-news__commens">4 comments</span>
              </div>
            <p class="news__article-large-p2">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
        </div>
        <div class="news__article-smal">
            <img src="img/small1.jpg" alt="">
            <p>How Construction Can Help Itself</p>
            <div class="recent-news__meta">
                <a href="#" class="recent-news__item">Industry News</a>
                <time class="recent-news__item" datetime="June 12, 2020">June 12, 2020</time>  
                <span class="recent-news__item recent-news__commens">No comments</span>
              </div>
        </div>
        <div class="news__article-smal">
            <img src="img/small2.jpg" alt="">
            <p>Types of Flooring Materials</p>
            <div class="recent-news__meta">
                <a href="#" class="recent-news__item">Industry News</a>
                <time class="recent-news__item" datetime="December 1, 2019">December 1, 2019</time>  
                <span class="recent-news__item recent-news__commens">No comments</span>
              </div>
        </div>
    </div>
</div>