<div class="news">
    <h1>Recent news</h1>
    <div class="news__article">
        <div class="news__article-large">
            <img src="img/large.jpg" alt="">
            <p class="news__article-large-p1">How to Build Climate Change-Resilient Infrastructure</p>
            <div class="news__article--meta">
                <p>Industry News</p>
                <img src="img/svg/newsdivider.svg" alt="">
                <time datatime="2020-06-24 19:00">June 24, 2020</time>
                <img src="img/svg/newsdivider.svg" alt="">
                <img src="img/svg/newsChat.svg" alt="">
                <p>4 comments</p>
            </div>
            <p class="news__article-large-p2">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...</p>
        </div>
        <div class="news__article-smal">
            <img src="img/small1.jpg" alt="">
            <p>How Construction Can Help Itself</p>
            <div class="news__article--meta">
                <p>Industry News</p>
                <img src="img/svg/newsdivider.svg" alt="">
                <time datatime="2020-06-12 19:00">June 12, 2020</time>
                <img src="img/svg/newsdivider.svg" alt="">
                <img src="img/svg/newsChat.svg" alt="">
                <p>No comments</p>
            </div>
        </div>
        <div class="news__article-smal">
            <img src="img/small2.jpg" alt="">
            <p>Types of Flooring Materials</p>
            <div class="news__article--meta">
                <p>Industry News</p>
                <img src="img/svg/newsdivider.svg" alt="">
                <time datatime="2019-12-1 19:00">December 1, 2019</time>
                <img src="img/svg/newsdivider.svg" alt="">
                <img src="img/svg/newsChat.svg" alt="">
                <p>No comments</p>
            </div>
        </div>
    </div>
</div>