<div class="pricing">
    <script>
        /*var img=new Image();
        img.src='../img/svg/Mark.svg';*/
        var i="../img/svg/Mark.svg";
    </script>

    <div class="conteiner">
        <h1>Pricing</h1>
        <p>We offer you three categories of construction.</p>
        <Table>
        <tr><th class="pricing--table__left-h1"></th><th>BASIC</th><th>STANDARD</th><th>BUSINESS</th></tr>
        <tr><th class="pricing--table__left-h1">Items</th><th>$20 per m2</th><th>$30 per m2</th><th>$40 per m2</th></tr>
        <tr><td class="pricing--table__left">Installation plan</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Planning solutions (2-3 options)</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Lighting plan</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Flooring plan</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Heating floor laying scheme</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Air conditioner zones layout</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">3D visualization of all rooms</td><td>simplified</td><td><img src="../img/svg/Mark.svg" alt=""></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Visualization of each room (3-4 angles)</td><td><td></td><td><img src="../img/svg/Mark.svg" alt=""></td></tr>
        <tr><td class="pricing--table__left">Terms</td><td>10 days</td><td>20 days</td><td>30 days</td></tr>
        <tr><td class="pricing--table__left"></td><td><button>send request</button></td><td><button>send request</button></td><td><button>send request</button></td></tr>
    </Table>
    </div>
</div>