<div class="requestform">
    <h3>Want to know more? Ask us a question:</h3>
    <form class="requestform__form" action="" method="post">
        <div>
            <label for="name">Name</label>
            <input placeholder="Your name" type="text" name="Name" id="">
        </div>
        <div>
            <label for="Phone">Phone</label>
            <input placeholder="Your phone" type="text" name="Phone" id="">
        </div>
        <div>
            <label for="Message">Message</label>
            <input placeholder="Your message" type="text" name="Message" id="">
        </div>
        <button>SEND</button>
    </form>
</div>