<div class="services">
    <div class="services__item">
        <h1 class="services__h1">Our services</h1>
        <p>Createx Construction Bureau is a construction giant with a full range of construction services.</p>
        <div class="services__idle">
            <div>
                <img src="../img/svg/ic-construction.svg" alt="">
                <p>Construction</p>
            </div>
            <div>
                <img src="../img/svg/ic-plan.svg" alt="">
                <p>Project Development</p>
            </div>
            <div>
                <img src="../img/svg/ic-pantone.svg" alt="">
                <p>Interior Design</p>
            </div>
            <div>
                <img src="../img/svg/ic-painting.svg" alt="">
                <p>Repairs</p>
            </div>
        </div>
        <div class="services__view-all">
            <h3>Learn more about our services</h3>
            <button>View services</button>
        </div>
    </div>
</div>