<div class="values">
    <div class="values__text">
        <h1>Our core values</h1>
        <p>Our mission is to set the highest standards for construction sphere.</p>
    </div>
    <div class="values__icon-boxes">
        <div>
            <img src="img/svg/ic-like.svg" alt="">
            <p class="p1">Quality</p>
            <p class="p2">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
        </div>
        <img src="img/svg/values-divider.svg" alt="">
        <div>
            <img src="img/svg/ic-like.svg" alt="">
            <p class="p1">Safety</p>
            <p class="p2">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.</p>
        </div>
        <img src="img/svg/values-divider.svg" alt="">
        <div>
            <img src="img/svg/ic-like.svg" alt="">
            <p class="p1">Comfort</p>
            <p class="p2">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</p>
        </div>
    </div>
</div>